@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');



.working-container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Ubuntu', sans-serif;
  }
  

  


  .heading {
   
    margin-top: 15px;
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 5px;
  }
  
  .para {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  .workinglist {
    font-family: 'Ubuntu', sans-serif;
    padding-left: 20px;
  }
  
  .workinglist li {
    font-family: 'Ubuntu', sans-serif;
    margin-bottom: 10px;
    font-size: 16px;
    color: #444;
    list-style-type: none;
    position: relative;
    
  }
  
 
  
  .strongdata {
    font-family: 'Ubuntu', sans-serif;
    color: #da4848;
  }
 