@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.main-working-container{
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  margin-right: 2vw;
}

.working-content{
  flex: 1;
}

.working-container {
    background: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Verdana', sans-serif;
  }
  

  
.working-footer{
  background-color: #333;
 
}

  .heading {
   
    margin-top: 2vh;
    color: #333;
    margin-bottom: 2vh;
    font-family: 'Verdana', sans-serif;
  }
  
  .para {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  .workinglist {
    font-family: 'Verdana', sans-serif;
    padding-left: 20px;
  }
  
  .workinglist li {
    font-family: 'Verdana', sans-serif;
    font-size: 16px;
    color: #444;
}
  
 
  
  .strongdata {
    font-family: 'Verdana', sans-serif;
    color: #da4848;
  }
 

  .working-container{
    width: 100vw;
  }