@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* chatStyle.css */



.chat-container {
  max-height: 80vh;
}

.chat-container {


  width: 100%;
  overflow-y: scroll;
}


.for-android {
  display: flex;
  height: 80vh;
  width: 100vw;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  color: gray;
  font-weight: lighter;

}




.temp-div {
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-heading {
  font-family: 'Ubuntu', sans-serif;
}

.icon-button:hover {
  color: aqua;
}


.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 12px;
  max-width: 80%;
  clear: both;
}

.user-message {

  margin-top: 2vh;
  margin-bottom: 2vh;
  background-color: #9AE3D4;
  margin-left: auto;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
}

.bot-message {
  background-color: whitesmoke;
  margin-right: auto;
  text-align: left;
  font-family: 'Ubuntu', sans-serif;
}


.message p {
  margin: 0;
}