@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

.carousel-img {
  opacity: 0.7;
  transition: background 0.5s ease-in-out;
}

.carousel-text {
  color: #212121;
  display: inline-block;

  font-family: 'Ubuntu', sans-serif;

}

.carousel-img:hover {
  opacity: 0.9;
}


.mygrid-android {
  display: flex;
  flex-direction: column;
  flex: 1;

}


home-description-android {
  margin-top: 2vh;
  font-size: medium;
  font-family: 'Ubuntu', sans-serif;
  

}

home-image-android {
  max-width: 100%;
  max-height: 50%;
  height: auto;
}

.mygrid-desktop {
  margin-top: 5vh;

}

.homefooter {
  
  background-color: #282a35;
  border-top: 2px solid #282a35;
  border-bottom: 2px solid #282a35;



}


.footer-brand p img{
  margin-right: 1vw;
}


.homedescription {
  font-size: xx-large;
  font-family: 'Ubuntu', sans-serif;
}


.home-image-desktop{
  
display: flex;
align-items: center;
justify-content: center;
}

.home-image-desktop img {

  max-width: 100%;
  height: auto;
  max-height: 50%;
}

.git-logo{
margin-right: 1vw ;
margin-left: 1vw;
}


.home-footer-content{

  color: whitesmoke;
}